# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual Environment
venv/
env/
ENV/
.env
.venv

# VS Code
.vscode/

# Project Specific - Data & Vectors
# Keep raw inputs but might want to ignore processed if huge
# data/raw/
# data/processed/
# Ignoring large vector stores to save git space
vector_store/
*.parquet

# Jupyter Notebooks
.ipynb_checkpoints
data
10 Academy - KAIM 8 - Week 7.pdf
demo.ipynb
TextChunking_embeding_Vstoreindex.ipynb